{% extends "base.html" %} 
{% load static %} 

{% block title %}
ToLetBD | Privacy Policy
{% endblock title %}

{% block content %}
<div class="container my-4 px-5">
  <h3 class="mb-4 text-center">Privacy Policy</h3>

  <p>
    This Privacy Policy outlines how ToLetBD collects, uses, and safeguards your
    personal information when you use our website and services. By using
    ToLetBD, you consent to the practices described in this policy.
  </p>

  <h4 class="my-3">1. Information We Collect</h4>
  <p>We may collect the following types of information:</p>
  <ul>
    <li>
      <strong>Personal Information:</strong> Name, email address, phone number,
      postal address, and any other information you voluntarily provide to us.
    </li>
    <li>
      <strong>Log Data:</strong> We automatically collect log data, including
      your IP address, browser type, operating system, and the pages you visit
      on our site.
    </li>
    <li>
      <strong>Cookies:</strong> We use cookies and similar tracking technologies
      to collect information about your browsing habits on our website. You can
      control cookie settings through your browser.
    </li>
  </ul>

  <h4 class="my-3">2. How We Use Your Information</h4>
  <p>We use the collected information for the following purposes:</p>
  <ul>
    <li>
      <strong>Provide and Improve Our Services:</strong> We use your information
      to deliver our services, enhance user experience, and respond to your
      requests and inquiries.
    </li>
    <li>
      <strong>Communication:</strong> We may contact you with updates,
      promotional offers, newsletters, and important service-related
      information. You can opt out of marketing communications.
    </li>
    <li>
      <strong>Security:</strong> We employ security measures to protect your
      data, detect and prevent fraudulent activities, and safeguard our rights
      and property.
    </li>
  </ul>

  <h4 class="my-3">3. Sharing Your Information</h4>
  <p>
    We do not sell, trade, or otherwise transfer your personal information to
    outside parties. We may share your information with trusted third parties
    who assist us in operating our website and providing our services. Your data
    may be disclosed in the following situations:
  </p>
  <ul>
    <li>With your consent</li>
    <li>To comply with legal obligations</li>
    <li>For the protection of our rights, privacy, safety, or property</li>
  </ul>

  <h4 class="my-3">4. Your Choices</h4>
  <p>You have control over the information you provide to us:</p>
  <ul>
    <li>
      You may opt-out of receiving marketing communications by following the
      instructions in the emails we send.
    </li>
    <li>
      You can review and update your personal information on your account
      settings.
    </li>
    <li>
      If you want to delete your account, please contact us at
      <a href="mailto:contact@toletbd.com">contact@toletbd.com</a>.
    </li>
  </ul>

  <h4 class="my-3">5. Security</h4>
  <p>
    We take reasonable measures to protect your personal information. However,
    no method of transmission over the internet is 100% secure, and we cannot
    guarantee the security of your information. You are responsible for
    maintaining the security of your login information.
  </p>

  <h4 class="my-3">6. Changes to this Privacy Policy</h4>
  <p>
    We may update this privacy policy from time to time. We will notify you of
    any changes by posting the new policy on this page. We recommend reviewing
    this policy periodically for any updates.
  </p>

  <h4 class="my-3">7. Contact Us</h4>
  <p>
    If you have any questions about this Privacy Policy, please contact us at
    <a href="mailto:contact@toletbd.com">contact@toletbd.com</a>.
  </p>

  <p>This privacy policy was last updated on: November 1, 2023</p>
</div>
{% endblock content %}
