{% extends "base.html" %} 
{% load static %} 

{% block title %}
ToLetBD | Terms & Conditions
{% endblock title %}

{% block content %}
<div class="container my-4 px-5">
  <h3 class="text-center mb-4">Terms & Conditions</h3>
  <p class="text-dark">
    ToLetBD.com is not involved in any kind of financial transactions for deal
    in house owner and house renter. In case of any kind of financial
    transaction, the user is requested to conduct the transaction carefully.
    ToLetBD.com will not be held responsible if anyone is cheated by any person.
    <br />
    Last updated: October 10, 2023
  </p>

  <h4 class="mt-4 mb-2">General</h4>
  <p class="text-dark">
    The House owner or agent of any house who posts his/her advertisement to
    ToLetBD he/she is fully responsible for ensuring that advertising content,
    text, images uploaded for inclusion on ToLetBD complies with all applicable
    laws and real content.
  </p>

  <h4 class="mt-4 mb-2">Account Information</h4>
  <p class="text-dark">
    Any person can create an account on ToLetBD. All account info should be
    real. If anyone creates a fake account and our team verifies that as a fake
    then the account will be permanently disabled in this platform. So ensure
    that all account information is real. <br />
    Name: Every user must add their valid name on their profile. <br />

    <span class="fw-bold fs-6 mt-2">Phone Number:</span>
    The phone number is the most important information for profile and
    advertisement also, so this should also be real information. If anyone uses
    any fake number and our team verifies this number as a fake for this profile
    or advertisement then the profile and post can be blocked, paid, or non-paid
    post is the same process for blocking or breaking any rules. <br />

    <span class="fw-bold fs-6 mt-2">Email:</span>
    Users can add an email address on their profile. The email address of the
    User shall not be publicly displayed. ToLetBD permitted to send emails to
    the User through ToletBD <br />

    <span class="fw-bold fs-6 mt-2">Gender:</span>
    Your gender information will be kept secure and will not be shared with
    third parties without your explicit consent. You have the right to access,
    correct, or delete your gender information by contacting us. <br />

    <span class="fw-bold fs-6 mt-2">District:</span>
    As a primary location you can add district name on your profile. Your
    district information will be handled in accordance with our privacy policy.
    <br />

    <span class="fs-5 mt-4 mb-2">Account Image</span>
    <br />
    Everyone should add their face image to their profile. This is not
    compulsory to add an image to your profile picture. But if anyone uses them
    they should use their original face image. Images can be deleted anytime,
    and the account also can be blocked. <br />
    Credit System <br />
    As a tenant you must have 10 credits in your account for viewing one house's
    details (such as phone number, short address) information. As a house owner
    you must have 5 credits in your account to post a house rent. <br />

    <span class="fs-5 mt-4 mb-2">Post as an Owner</span>
    <br />
    If you are the owner of any house and you want to post your ads in ToletBD
    then you should follow the rules for publishing your post in ToletBD. It is
    important to carefully read and understand all of the terms and conditions
    before posting your house on ToletBD. If you have any questions, please feel
    free to contact us. <br />

    <span class="fs-5 mt-4 mb-2">Property Listing</span>
    <br />
    By listing a property on "ToletBD," you acknowledge that you are the
    rightful owner or have the necessary authorization to rent out the property.
    <br />
    You agree to provide accurate and truthful information about the property,
    including its location, basic details, and pricing. <br />
    You are responsible for ensuring that your property listings comply with all
    applicable laws and regulations, including local zoning and housing codes.
    <br />
    "ToletBD" reserves the right to review, edit, or remove property listings
    that violate our content guidelines or are deemed inappropriate. <br />
    Property Availability <br />
    You are responsible for keeping the availability status of your property
    listings up to date. If a listed property becomes unavailable, you must
    promptly update its status on the platform. <br />

    <span class="fs-5 mt-4 mb-2">Pricing and Payments</span>
    <br />
    You are responsible for setting the rental price for your property. The
    price should be clear and accurate. <br />

    <span class="fs-5 mt-4 mb-2">User Conduct</span>
    <br />
    You agree not to engage in any illegal, fraudulent, or harmful activities on
    our platform. <br />
    Intellectual Property <br />
    You retain ownership of the content you submit to "ToletBD," including
    property descriptions and photos. <br />
    You grant "ToletBD" a non-exclusive, worldwide, royalty-free license to use,
    display, and distribute your content for promotional purposes related to our
    platform. <br />
    Liability <br />
    "ToletBD" is a platform for connecting property owners and renters. We do
    not endorse or guarantee the accuracy of property listings, and we are not
    responsible for any disputes or issues that may arise between users. <br />
    "ToletBD" shall not be liable for any direct or indirect damages, including
    but not limited to loss of data or revenue, arising from your use of the
    platform. <br />
    Termination <br />
    We reserve the right to suspend or terminate your account or property
    listings at our discretion, with or without cause. <br />
    Category Selection <br />
    Users must choose one category that best describes the intended use of the
    property (e.g., family, bachelor, office). <br />
    <span class="fs-5 mt-4 mb-2">Location Information</span>
    <br />
    Division: The region or administrative division where the property is
    located (e.g., Dhaka, Dhaka). <br />
    District: The specific district within the chosen division (e.g., Dhaka,
    Dhaka). <br />
    Thana: The sub-district or police precinct within the district (e.g.,
    Gulshan, Badda). <br />
    Sub area: A more specific area or neighborhood within the thana (Besides
    East, 21/A,Road/2,Block-A, Merul badda,Aftab Nagar, Dhaka 1212). <br />
    Short Address: A concise address description to help potential renters
    locate the property (Besides East, 21/A,Road/2,Block-A, Merul badda,Aftab
    Nagar, Dhaka 1212). <br />
    Basic Information <br />
    Month: The availability starts the month when the property will be ready for
    occupancy. <br />
    Property Type: The type of property (e.g., apartment, house, flat). <br />
    Number of Bedrooms: The total count of bedrooms available in the property.
    <br />
    Number of Bathrooms: The total count of bathrooms in the property. <br />
    Pricing <br />
    Price: The rent amount or rental cost for the property. <br />
    Use of Images <br />
    Use of images in property listings on "ToletBD" is optional but encouraged.
    House owners may choose to include images of their properties to enhance the
    attractiveness of their listings. However, the following guidelines must be
    adhered to: Real Images: House owners must upload only real and accurate
    images of the property they are listing for rent. Using fake, misleading, or
    irrelevant images is strictly prohibited. <br />
    Image Authenticity: All images must accurately represent the property's
    current condition and appearance. Misleading or outdated images may result
    in the removal of the image or the entire listing. <br />
    Ownership and Rights: House owners must have the legal rights to use and
    display the images they upload. Images should not infringe on any
    copyrights, trademarks, or intellectual property rights. <br />
    Image Removal: "ToletBD" reserves the right to review and remove any images
    that violate these guidelines or are deemed inappropriate. In cases of
    repeated violations, the entire listing may be subject to removal. <br />
    Image Quality: It is recommended that images be of good quality and clearly
    depict the property. Blurred, heavily edited, watermarked or low-resolution
    images may not be as effective in attracting potential tenants. <br />
    By uploading images to "ToletBD," house owners acknowledge and agree to
    these guidelines. Failure to comply with these guidelines may result in the
    removal of images or listings, and house owners may be subject to further
    action as deemed necessary by "ToletBD." <br />
    Detail Information <br />
    There is a big Textarea option where you can write about your house in
    detail. House owners are strictly prohibited from including personal contact
    information, such as phone numbers, email addresses, or physical addresses,
    within the property description. If any contact information is detected
    within the property description, it can be edited by our authority. <br />
    Google Maps : <br />
    Use google maps to mark your location properly. So that the user can easily
    find your house by checking our map view. <br />
    Cookies <br />
    This site uses cookies, which means that you must have cookies enabled on
    your computer for all functionality on this site to work properly. A cookie
    is a small data file that is written to your hard drive when you visit
    certain Websites. Cookie files contain certain information, such as a random
    number of the user ID that the site assigns to a visitor to track the pages
    visited. A cookie cannot read data off your hard disk or read cookie files
    created by other sites. Cookies, by themselves, cannot be used to find out
    the identity of any user. <br />
  </p>
</div>
{% endblock content %}
